/*CSSS de la sección Añadir */

@font-face {
    font-family: 'regular';
     src: url(../fuentes/MYRIADPRO-REGULAR.OTF);
 }
 @font-face {
     font-family: 'ligth';
     src: url(../fuentes/MyriadPro-Light.otf);
 }
 /*################################################################################*/
 /*################################################################################*/
 /*################################################################################*/
 body{
     background-color: white;
     overflow: hidden;
 }
 /*################################################################################*/
 /*############################ Barra En la parte superior ########################*/
 /*################################################################################*/
 .Login__BarraOpciones{
     position: relative;
     height: 0.001vw;
     width: 99.8vw;
     background-color:black;
     border: 0.001vw solid black;
     top:4vw;
     left:-0.4vw;
 }
 .Login__BarraOpciones--añadir{
     position: relative;
     font-family: 'regular';
     font-size: 1.5vw;
     color: black;
     top: -4.5vw;
     left: 10vw;
 }
 .Login__BarraOpciones--refrescar{
     position: relative;
     font-family: 'regular';
     font-size: 1.5vw;
     color: black;
     top: -7.8vw;
     left: 20vw;
 }
 .Login__BarraOpciones--eliminar{
     position: relative;
     font-family: 'regular';
     font-size: 1.5vw;
     color: black;
     top: -11.1vw;
     left: 31vw;
 }
 .Login__BarraOpciones--reportar{
     position: relative;
     font-family: 'regular';
     font-size: 1.5vw;
     color: black;
     top: -14.4vw;
     left: 63vw;
 }
 .Login__BarraOpciones--ayuda{
     position: relative;
     font-family: 'regular';
     font-size: 1.5vw;
     color: black;
     top: -17.8vw;
     left: 75vw;
 }
 .Login__BarraOpciones--logo1{
     position: relative;
     height: 3vw;
     top: -22.5vw;
     left: 47.5vw;
 }
 .Login__BarraOpciones--bell{
     position: relative;
     height: 1.5vw;
     top: -23vw;
     left: 86vw;
 }
 .Login__BarraOpciones--bug{
     position: relative;
     height: 1.6vw;
     top: -23.4vw;
     left: 55.5vw;
 }
 .Login__BarraOpciones--mas{
     position: relative;
     height: 1.6vw;
     top: -23.4vw;
     left: 1vw;
 }
 .Login__BarraOpciones--fotopedro{
     position: relative;
     height: 3.8vw;
     top: -22.2vw;
     left: 83vw;
 }
 .Login__BarraOpciones--rueda{
     position: relative;
     height: 1.5vw;
     top: -23vw;
     left: 74vw;
 }
 .Login__BarraOpciones--pregunta{
     position: relative;
     height: 1.6vw;
     top: -23.4vw;
     left: 58vw;
 }
 .Login__BarraOpciones--load{
     position: relative;
     height: 1.5vw;
     top: -23.4vw;
     left: 1.5vw;
 }
 .Login__BarraOpciones--basura{
     position: relative;
     height: 1.6vw;
     top: -23.4vw;
     left: 11.5vw;
 }
 /*#################################################################################*/
 /*############################ Texto Bajo la Barra ################################*/
 /*################################################################################*/
 .Login__Textos--panel{
     position: relative;
     font-family: 'regular';
     color: black;
     font-size: 2.4vw;
     top: 3vw;
     left: 38vw;
 }
 .Login__Textos--aqui{
     position: relative;
     font-family: 'ligth';
     color: black;
     font-size: 1.5vw;
     top: 1vw;
     left: 33vw; 
}
 /*#################################################################################*/
 /*############################ Texto del formulario ################################*/
 /*################################################################################*/

.Formulario__form--text1{
    position: relative;
    font-family: 'regular';
    color: black;
    font-size: 1.8vw;
    top: 2vw;
    left: 2vw;
}
.Formulario__form--text2{
    position: relative;
    font-family: 'ligth';
    color: black;
    font-size: 1.1vw;
    top: 2vw;
    left: 2vw;
}

 /*#################################################################################*/
 /*############################ Formulario estetica ################################*/
 /*################################################################################*/

 .Formulario__form{
    position: relative;
    border: 0.1vw solid black;
    height: 42vw;
    width: 52vw;
    left: 25vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
 }

  /*#################################################################################*/
 /*############################ Formulario contenido ################################*/
 /*################################################################################*/
.Formulario__contenido{
    align-items: center;
    display: grid;
    position: relative;
    padding: 1vw;
    grid-template-columns: 1fr 1fr;
    font-family: 'regular';
    font-size: 1.5vw;
    text-align: left;
    animation-name: real;
    animation-iteration-count: 1;
    animation-duration: 7s;
    top: 3vw;
    right: -1vw;
}

.Formulario__contenido--Nombre{
    height: 5vw;
}
.Formulario__contenido--Area{
    height: 5vw;
}
.Formulario__contenido--Categoria{
    height: 5vw;
}
.Formulario__contenido--Formula{
    height: 5vw;
}
.Formulario__contenido--Fechadeinicio{
    height: 5vw;
}
.Formulario__contenido--Fechaterminacion{
    height: 5vw;
}
.Formulario__contenido--Frecuencia{
    height: 5vw;
}
.Formulario__contenido--Cumplimiento{
    height: 5vw;
}
.Formulario__contenido--Descripcion{
    height: 5vw;
    grid-column-start: 1;
    grid-column-end: 3;
}
  /*#################################################################################*/
 /*############################ boton de guardar ################################*/
 /*################################################################################*/

 .Guardar{
    position: relative;
    top: 7vw;
    left: 20vw;
    width: 14vw;  
    height: 2vw;
    font-family: 'regular';
    font-size: 1.2vw;
    color: white;
    border: 0.2vw solid #ff6f2c;
    background-color:#ff6f2c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
 }
