    /*CSSS de la Perfil*/
    @font-face {
        font-family: 'regular';
         src: url(../fuentes/MYRIADPRO-REGULAR.OTF);
     }
     @font-face {
         font-family: 'ligth';
         src: url(../fuentes/MyriadPro-Light.otf);
     }
     /*################################################################################*/
     /*################################################################################*/
     /*################################################################################*/
     body{
         background-color: white;
         overflow: hidden;
         margin: 0px;
     }
     /*################################################################################*/
     /*############################ Barra En la parte superior ########################*/
     /*################################################################################*/
     .Login__BarraOpciones{
         position: relative;
         height: 0.001vw;
         width: 99.8vw;
         background-color:black;
         border: 0.001vw solid black;
         top:4vw;
         left:-0.4vw;
     }
     .Login__BarraOpciones--añadir{
         position: relative;
         font-family: 'regular';
         font-size: 1.5vw;
         color: black;
         top: -4.5vw;
         left: 10vw;
     }
     .Login__BarraOpciones--refrescar{
         position: relative;
         font-family: 'regular';
         font-size: 1.5vw;
         color: black;
         top: -7.8vw;
         left: 20vw;
     }
     .Login__BarraOpciones--eliminar{
         position: relative;
         font-family: 'regular';
         font-size: 1.5vw;
         color: black;
         top: -11.1vw;
         left: 31vw;
     }
     .Login__BarraOpciones--reportar{
         position: relative;
         font-family: 'regular';
         font-size: 1.5vw;
         color: black;
         top: -14.4vw;
         left: 63vw;
     }
     .Login__BarraOpciones--ayuda{
         position: relative;
         font-family: 'regular';
         font-size: 1.5vw;
         color: black;
         top: -17.8vw;
         left: 75vw;
     }
     .Login__BarraOpciones--logo1{
         position: relative;
         height: 3vw;
         top: -22.5vw;
         left: 47.5vw;
     }
     .Login__BarraOpciones--bell{
         position: relative;
         height: 1.5vw;
         top: -23vw;
         left: 86vw;
     }
     .Login__BarraOpciones--bug{
         position: relative;
         height: 1.6vw;
         top: -23.4vw;
         left: 55.5vw;
     }
     .Login__BarraOpciones--mas{
         position: relative;
         height: 1.6vw;
         top: -23.4vw;
         left: 1vw;
     }
     .Login__BarraOpciones--fotopedro{
         position: relative;
         height: 3.8vw;
         top: -22.2vw;
         left: 83vw;
     }
     .Login__BarraOpciones--rueda{
         position: relative;
         height: 1.5vw;
         top: -23vw;
         left: 74vw;
     }
     .Login__BarraOpciones--pregunta{
         position: relative;
         height: 1.6vw;
         top: -23.4vw;
         left: 58vw;
     }
     .Login__BarraOpciones--load{
         position: relative;
         height: 1.5vw;
         top: -23.4vw;
         left: 1.5vw;
     }
     .Login__BarraOpciones--basura{
         position: relative;
         height: 1.6vw;
         top: -23.4vw;
         left: 11.5vw;
     }
     /*#################################################################################*/
     /*############################ Texto Bajo la Barra ################################*/
     /*################################################################################*/
     .Login__Textos--panel{
         position: relative;
         font-family: 'regular';
         color: black;
         font-size: 2.4vw;
         top: 3vw;
         left: 39vw;
     }
     .Login__Textos--aqui{
         position: relative;
         font-family: 'ligth';
         color: black;
         font-size: 1.5vw;
         top: 1vw;
         left: 33vw; 
     }
     /*#################################################################################*/
     /*############################ parte de la izquierda ################################*/
     /*################################################################################*/

    .box1{
        position: relative;
        top: 2vw;
        right: -5vw;
        width: 25vw;
        height: 41vw;
        border: 0.1vw solid black;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part1{
        background-color: #ff6f2c;
        height: 5vw;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }
    .box1__part1--img{
        position: relative;
        left:6.5vw;
        top:0vw;
        height: 10vw;
    }
    .box1__part2--name{
        position: relative;
        font-family: 'regular';
        font-size: 1.6vw;
        left: 3vw;
    }
    .box1__part2--email{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 5vw;
    }
    .micuenta{
        margin: 1VW;
        border: 0.1vw solid #ff6f2c;
        height: 3vw;
        background-color: #fbaf8c;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part2--persona{
        position: relative;
        height: 3vw;
        left: 1vw;
    }
    .box1__part2--cuenta{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 7vw;
        top: -2vw;
    }
    .contraseña{
        margin: 1VW;
        border: 0.1vw solid black;
        height: 3vw;
        background-color: white;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part2--llave{
        position: relative;
        height: 2vw;
        top: 0.5vw;
        left: 1vw;
        transform: rotate(180deg);
    }
    .box1__part2--contraseña{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 7vw;
        top: -1.2vw;
    }
    .indicadores{
        margin: 1VW;
        border: 0.1vw solid black;
        height: 3vw;
        background-color: white;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part2--estadistica{
        position: relative;
        height: 3vw;
    }
    .box1__part2--indicadores{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 7vw;
        top: -2.2vw;
    }
    .Dispositivos{
        margin: 1VW;
        border: 0.1vw solid black;
        height: 3vw;
        background-color: white;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part2--cel{
        position: relative;
        height: 3vw;
        left: 1vw;
    }
    .box1__part2--tel{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 7vw;
        top: -2.2vw;
    }
    .Idioma{
        margin: 1VW;
        border: 0.1vw solid black;
        height: 3vw;
        background-color: white;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box1__part2--mundo{
        position: relative;
        height: 2vw;
        left: 1vw;
        top: 0.5vw;
    }
    .box1__part2--idioma{
        position: relative;
        font-family: 'ligth';
        font-size: 1.1vw;
        left: 7vw;
        top: -1.2vw;
    }
    .exit{
        position: relative;
        height: 2vw;
        left: 25vw;
        top: -37vw;
    }

     /*#################################################################################*/
     /*############################ parte derecha ################################*/
     /*################################################################################*/


    .box2{
        position: relative;
        top: -41.4vw;
        right: -35vw;
        width: 55vw;
        height: 41vw;
        border: 0.1vw solid black;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .box2__textos--informacion{
        position: relative;
        font-family: 'regular';
        font-size: 2vw;
        left: 3vw;
        padding: 1vw;
        top: 1vw;
    }
    .box2__textos--Admin{
        position: relative;
        font-family: 'ligth';
        font-size: 1.3vw;
        top: -0.5vw;
        left: 3vw;
        padding: 1vw;
    }


.box2__info--Nombre{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 3vw;
    padding: 1vw;
    top: -1vw;

}
.icono-Nombre{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}

.box2__info--Apellido{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 27vw;
    padding: 1vw;
    top: -6vw;

}
.icono-Apellido{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}
.box2__info--Correo{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 3vw;
    padding: 1vw;
    top: -4vw;

}
.icono-Correo{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}

.box2__info--Direccion{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 27vw;
    padding: 1vw;
    top: -9vw;

}
.icono-Direccion{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}

.box2__info--Telefono{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 3vw;
    padding: 1vw;
    top: -6vw;

}
.icono-Telefono{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}

.box2__info--Biografia{
    position: relative;
    font-family: 'regular';
    font-size: 1.3vw;
    left: 3vw;
    padding: 1vw;
    top: -3vw;

}
.icono-Biografia{
    position: relative; 
    width: 2.5vw;
    top: 0.5vw;
}
.box3__info--nombre{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 20vw;
    top: -28vw;
    left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box3__info--apellido{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 25vw;
    top: -32vw;
    left: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box3__info--email{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 20vw;
    top: -28vw;
    left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box3__info--Direccion{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 25vw;
    top: -32vw;
    left: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box3__info--telefono{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 20vw;
    top: -28vw;
    left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.box3__info--Biografia{
    position: relative; 
    font-family: 'regular';
    font-size: 1.3vw;
    margin: 1VW;
    border: 0.1vw solid black;
    height: 3vw;
    width: 48vw;
    top: -25vw;
    left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding: 0.5vw;
}
.botonEditar{
    position: relative;
    top: -62vw;
    left: 40vw;
    border: 0.1vw solid #ff6f2c;
    width: 13vw;
    height: 2.8vw;
    text-align: center;
    font-family: 'regular';
    font-size: 1.2vw;
    background-color: #ff6f2c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.botonEditar:hover {
    background-color: red;
} 

